#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/pointing.h>

#define ZMK_POINTING_DEFAULT_MOVE_VAL 1500

#define BAS 0
#define NAV 1
#define NUM 2
#define SYM 3
#define JAV 4
#define FUN 5
#define MED 6
#define EDT 7
#define SCR 8

#define h(n)  LS(LC(LA(LG(n))))
#define g(n)  LG(n)

#define BACK  LG(LBRC)
#define FWRD  LG(RBRC)
#define PREV  LG(LBKT)
#define NEXT  LG(RBKT)
#define CYCLE LG(GRAVE)
#define ZIN   LG(EQUAL)
#define ZOUT  LG(MINUS)

#define FS_CB  LS(LG(LC(N3)))
#define SS_CB  LS(LG(LC(N4)))
#define FS_FL  LS(LG(N3))
#define SS_FL  LS(LG(N4))
#define SMENU  LS(LG(N5))


/ {
    behaviors {
         hm: home_row_mod {
              compatible = "zmk,behavior-hold-tap";
              #binding-cells = <2>;
              tapping-term-ms = <200>;
              quick-tap-ms = <0>;
              flavor = "tap-preferred";
              bindings = <&kp>, <&kp>;
         };

         am: app_or_mod {
             compatible = "zmk,behavior-hold-tap";
             #binding-cells = <2>;
             tapping-term-ms = <400>;
             quick-tap-ms = <200>;
             flavor = "hold-preferred";
             bindings = <&kp>, <&kp>;
         };

        search: search_macro {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings
                = <&macro_tap &kp ESC>
                , <&macro_wait_time 10>
                , <&macro_press &kp LCMD>
                , <&macro_tap &kp E>
                , <&macro_release &kp LCMD>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

            BAS {
                display-name = "Base";
                bindings = <
// -------------|-------------|-------------|-------------|-------------|-------------|   |-------------|-------------|-------------|-------------|-------------|-------------|
       &none         &kp Q         &kp W         &kp F         &kp P         &kp B             &kp J         &kp L         &kp U         &kp Y         &none         &none
// -------------|-------------|-------------|-------------|-------------|-------------|   |-------------|-------------|-------------|-------------|-------------|-------------|
      &kp ESC     &hm LSHFT A   &hm LCTRL R    &hm LALT S    &hm LGUI T      &kp G             &kp M       &hm RGUI N    &hm RALT E   &hm RCTRL I   &hm RSHFT O     &kp RET
// -------------|-------------|-------------|-------------|-------------|-------------|   |-------------|-------------|-------------|-------------|-------------|-------------|
      &mo SCR        &kp Z         &kp X         &kp D         &kp C         &kp V             &kp K         &kp H       &kp COMMA      &kp DOT       &kp FSLH      &mo MED
// -------------|-------------|-------------|-------------|-------------|-------------|   |-------------|-------------|-------------|-------------|-------------|-------------|
                                                &mo EDT       &mo NAV     &lt JAV TAB       &lt SYM BSPC &lt NUM SPACE    &mo FUN                                          >;};
//                                          |-------------|-------------|-------------|   |-------------|-------------|-------------|

            NAV {
                display-name = "Navigation";
                bindings = <
// -------------|-------------|-------------|-------------|-------------|-------------|   |-------------|-------------|-------------|-------------|-------------|-------------|
      &kp h(J)      &kp h(L)      &kp h(W)      &kp h(F)      &kp h(P)      &kp h(B)         &kp CYCLE      &kp HOME       &kp UP       &kp END       &kp ZOUT      &kp ZIN
// -------------|-------------|-------------|-------------|-------------|-------------|   |-------------|-------------|-------------|-------------|-------------|-------------|
      &kp h(Y)     &kp LSHFT     &kp LCTRL      &kp LALT      &kp LGUI      &kp h(G)          &kp PGUP      &kp LEFT      &kp DOWN     &kp RIGHT       &none         &trans
// -------------|-------------|-------------|-------------|-------------|-------------|   |-------------|-------------|-------------|-------------|-------------|-------------|
      &kp h(N)      &kp h(Z)      &kp h(X)      &kp h(D)      &kp h(C)      &kp h(V)          &kp PGDN      &kp BACK      &kp FWRD      &kp PREV      &kp NEXT       &none
// -------------|-------------|-------------|-------------|-------------|-------------|   |-------------|-------------|-------------|-------------|-------------|-------------|
                                                 &none         &none         &none             &trans        &trans        &trans                                          >;};
//                                          |-------------|-------------|-------------|   |-------------|-------------|-------------|

            NUM {
                display-name = "Number";
                bindings = <
// -------------|-------------|-------------|-------------|-------------|-------------|   |-------------|-------------|-------------|-------------|-------------|-------------|
       &none         &none         &kp N7        &kp N8        &kp N9        &none             &none         &none         &none         &none         &none         &none
// -------------|-------------|-------------|-------------|-------------|-------------|   |-------------|-------------|-------------|-------------|-------------|-------------|
       &none       &caps_word      &kp N4        &kp N5        &kp N6        &none             &none        &kp RGUI      &kp RALT     &kp RCTRL     &kp RSHFT       &none
// -------------|-------------|-------------|-------------|-------------|-------------|   |-------------|-------------|-------------|-------------|-------------|-------------|
       &none        &kp CAPS       &kp N1        &kp N2        &kp N3        &none             &none         &none         &none         &none         &none         &none
// -------------|-------------|-------------|-------------|-------------|-------------|   |-------------|-------------|-------------|-------------|-------------|-------------|
                                                 &none         &kp N0        &none             &none         &none         &none                                           >;};
//                                          |-------------|-------------|-------------|   |-------------|-------------|-------------|

            SYM {
                display-name = "Symbol";
                bindings = <
// -------------|-------------|-------------|-------------|-------------|-------------|   |-------------|-------------|-------------|-------------|-------------|-------------|
       &none       &kp TILDE      &kp AMPS      &kp STAR      &kp PIPE      &kp PLUS           &none         &none         &none         &none         &none         &none
// -------------|-------------|-------------|-------------|-------------|-------------|   |-------------|-------------|-------------|-------------|-------------|-------------|
       &none       &kp GRAVE      &kp DLLR     &kp PRCNT     &kp CARET     &kp MINUS           &none        &kp RGUI      &kp RALT     &kp RCTRL     &kp RSHFT       &none
// -------------|-------------|-------------|-------------|-------------|-------------|   |-------------|-------------|-------------|-------------|-------------|-------------|
       &none       &kp BSLH       &kp EXCL       &kp AT      &kp POUND     &kp UNDER           &none         &none         &none         &none         &none         &none
// -------------|-------------|-------------|-------------|-------------|-------------|   |-------------|-------------|-------------|-------------|-------------|-------------|
                                                 &none         &none         &none             &none         &none         &none                                           >;};
//                                          |-------------|-------------|-------------|   |-------------|-------------|-------------|

            JAV {
                display-name = "JavaScript";
                bindings = <
// -------------|-------------|-------------|-------------|-------------|-------------|   |-------------|-------------|-------------|-------------|-------------|-------------|
       &none         &none         &none         &none         &none         &none             &none         &none       &kp COLON      &kp SEMI       &none         &none
// -------------|-------------|-------------|-------------|-------------|-------------|   |-------------|-------------|-------------|-------------|-------------|-------------|
       &none       &kp LSHFT     &kp LCTRL      &kp LALT      &kp LGUI       &none            &kp SQT       &kp LPAR      &kp RPAR     &kp EQUAL       &kp GT        &none
// -------------|-------------|-------------|-------------|-------------|-------------|   |-------------|-------------|-------------|-------------|-------------|-------------|
       &none         &none         &none         &none         &none         &none            &kp DQT       &kp LBRC      &kp RBRC      &kp LBKT      &kp RBKT       &none
// -------------|-------------|-------------|-------------|-------------|-------------|   |-------------|-------------|-------------|-------------|-------------|-------------|
                                                 &none         &none         &none             &trans        &trans        &none                                           >;};
//                                          |-------------|-------------|-------------|   |-------------|-------------|-------------|

            FUN {
                display-name = "Function";
                bindings = <
// -------------|-------------|-------------|-------------|-------------|-------------|   |-------------|-------------|-------------|-------------|-------------|-------------|
       &none         &none         &kp F7        &kp F8        &kp F9       &kp F12            &none         &none         &none         &none         &none         &none
// -------------|-------------|-------------|-------------|-------------|-------------|   |-------------|-------------|-------------|-------------|-------------|-------------|
       &none         &none         &kp F4        &kp F5        &kp F6       &kp F11            &none        &kp RGUI      &kp RALT     &kp RCTRL     &kp RSHFT       &none
// -------------|-------------|-------------|-------------|-------------|-------------|   |-------------|-------------|-------------|-------------|-------------|-------------|
       &none         &none         &kp F1        &kp F2        &kp F3       &kp F10            &none         &none         &none         &none         &none         &none
// -------------|-------------|-------------|-------------|-------------|-------------|   |-------------|-------------|-------------|-------------|-------------|-------------|
                                                 &none         &none         &none             &trans        &trans        &trans                                          >;};
//                                          |-------------|-------------|-------------|   |-------------|-------------|-------------|

            MED {
                display-name = "Media";
                bindings = <
// -------------|-------------|-------------|-------------|-------------|-------------|   |-------------|-------------|-------------|-------------|-------------|-------------|
       &none         &none        &kp C_PP     &kp C_PREV    &kp C_NEXT      &none             &none         &none         &none         &none         &none         &none
// -------------|-------------|-------------|-------------|-------------|-------------|   |-------------|-------------|-------------|-------------|-------------|-------------|
       &none         &none       &kp C_MUTE   &kp C_VOL_DN  &kp C_VOL_UP     &none             &none         &none         &none         &none         &none         &none
// -------------|-------------|-------------|-------------|-------------|-------------|   |-------------|-------------|-------------|-------------|-------------|-------------|
       &none         &none         &none     &kp C_BRI_DEC  &kp C_BRI_UP     &none             &none         &none         &none         &none         &none         &none
// -------------|-------------|-------------|-------------|-------------|-------------|   |-------------|-------------|-------------|-------------|-------------|-------------|
                                                 &none         &none         &none             &none         &none         &none                                           >;};
//                                          |-------------|-------------|-------------|   |-------------|-------------|-------------|

            EDT {
                display-name = "Editing";
                bindings = <
// -------------|-------------|-------------|-------------|-------------|-------------|   |-------------|-------------|-------------|-------------|-------------|-------------|
       &none       &kp LG(Q)     &kp LG(W)      &search      &kp LG(P)     &kp LG(B)           &none         &none      &mmv MOVE_UP     &none         &none         &none
// -------------|-------------|-------------|-------------|-------------|-------------|   |-------------|-------------|-------------|-------------|-------------|-------------|
       &none       &kp LG(A)     &kp LG(R)     &kp LG(S)     &kp LG(T)       &none           &msc SCRL_UP &mmv MOVE_LEFT &mmv MOVE_DOWN &mmv MOVE_RIGHT &none         &none
// -------------|-------------|-------------|-------------|-------------|-------------|   |-------------|-------------|-------------|-------------|-------------|-------------|
       &none     &kp LS(LG(Z))   &kp LG(Z)     &kp LG(X)     &kp LG(C)     &kp LG(V)        &msc SCRL_DOWN &msc SCRL_LEFT  &none     &msc SCRL_LEFT    &none         &none
// -------------|-------------|-------------|-------------|-------------|-------------|   |-------------|-------------|-------------|-------------|-------------|-------------|
                                                 &none         &none         &none             &none       &mkp LCLK     &mkp RCLK                                        >;};
//                                          |-------------|-------------|-------------|   |-------------|-------------|-------------|

            SCR {
            display-name = "Screenshot";
                bindings = <
// -------------|-------------|-------------|-------------|-------------|-------------|   |-------------|-------------|-------------|-------------|-------------|-------------|
       &none         &none         &none         &none         &none         &none             &none       &kp FS_CB     &kp SS_CB       &none         &none         &none
// -------------|-------------|-------------|-------------|-------------|-------------|   |-------------|-------------|-------------|-------------|-------------|-------------|
       &none         &none         &none         &none         &none         &none             &none       &kp FS_FL     &kp SS_FL     &kp SMENU       &none         &none
// -------------|-------------|-------------|-------------|-------------|-------------|   |-------------|-------------|-------------|-------------|-------------|-------------|
       &none         &none         &none         &none         &none         &none             &none         &none         &none         &none         &none         &none
// -------------|-------------|-------------|-------------|-------------|-------------|   |-------------|-------------|-------------|-------------|-------------|-------------|
                                                 &none         &none         &none             &none         &none         &none                                           >;};
//                                          |-------------|-------------|-------------|   |-------------|-------------|-------------|

    };
};
