#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/pointing.h>

#define BAS 0
#define NAV 1
#define NUM 2
#define SYM 3
#define JAV 4
#define FUN 5
#define MOU 6
#define MED 7
#define EDT 8


#define h(n)  LS(LC(LA(LG(n))))
#define BACK  LG(LBRC)
#define FWRD  LG(RBRC)
#define PREV  LG(LBKT)
#define NEXT  LG(RBKT)
#define CYCLE LG(GRAVE)
#define ZIN    LG(EQUAL)
#define ZOUT   LG(MINUS)

/ {

    behaviors {
         hm: home_row_mod {
              compatible = "zmk,behavior-hold-tap";
              #binding-cells = <2>;
              tapping-term-ms = <200>;
              quick-tap-ms = <0>;
              flavor = "tap-preferred";
              bindings = <&kp>, <&kp>;
         };
    };

    keymap {
        compatible = "zmk,keymap";

            base_layer {
                bindings = <
// -------------|-------------|-------------|-------------|-------------|-------------|   |-------------|-------------|-------------|-------------|-------------|-------------|
       &none         &kp Q         &kp W         &kp F         &kp P         &kp B             &kp J         &kp L         &kp U         &kp Y        &kp SEMI       &none
// -------------|-------------|-------------|-------------|-------------|-------------|   |-------------|-------------|-------------|-------------|-------------|-------------|
       &kp ESC    &hm LSHFT A   &hm LCTRL R    &hm LALT S    &hm LGUI T      &kp G             &kp M       &hm RGUI N    &hm RALT E   &hm RCTRL I   &hm RSHFT O     &kp ENT
// -------------|-------------|-------------|-------------|-------------|-------------|   |-------------|-------------|-------------|-------------|-------------|-------------|
      &mo MOU        &kp Z         &kp X         &kp D         &kp C         &kp V             &kp K         &kp H       &kp COMMA      &kp DOT       &kp FSLH      &mo MED
// -------------|-------------|-------------|-------------|-------------|-------------|   |-------------|-------------|-------------|-------------|-------------|-------------|
                                                &mo EDT       &mo NAV     &lt JAV TAB       &lt SYM BSPC &lt NUM SPACE    &mo FUN                                          >;};
//                                          |-------------|-------------|-------------|   |-------------|-------------|-------------|

            navigation_layer {
                bindings = <
// -------------|-------------|-------------|-------------|-------------|-------------|   |-------------|-------------|-------------|-------------|-------------|-------------|
       &none        &kp h(L)      &kp h(W)      &kp h(F)      &kp h(P)      &kp h(B)         &kp CYCLE      &kp HOME       &kp UP       &kp END       &kp ZOUT      &kp ZIN
// -------------|-------------|-------------|-------------|-------------|-------------|   |-------------|-------------|-------------|-------------|-------------|-------------|
       &none       &kp LSHFT     &kp LCTRL     &kp LALT      &kp LGUI       &kp h(G)          &kp PGUP      &kp LEFT      &kp DOWN     &kp RIGHT       &none         &none
// -------------|-------------|-------------|-------------|-------------|-------------|   |-------------|-------------|-------------|-------------|-------------|-------------|
       &none        &kp h(Z)      &kp h(X)      &kp h(D)      &kp h(C)      &kp h(V)          &kp PGDN      &kp BACK      &kp FWRD      &kp PREV      &kp NEXT       &none
// -------------|-------------|-------------|-------------|-------------|-------------|   |-------------|-------------|-------------|-------------|-------------|-------------|
                                                 &none         &none         &none             &trans        &trans        &trans                                          >;};
//                                          |-------------|-------------|-------------|   |-------------|-------------|-------------|

            number_layer {
                bindings = <
// -------------|-------------|-------------|-------------|-------------|-------------|   |-------------|-------------|-------------|-------------|-------------|-------------|
      &kp CAPS       &none         &kp N7        &kp N8        &kp N9         &none             &none         &none         &none         &none         &none         &none
// -------------|-------------|-------------|-------------|-------------|-------------|   |-------------|-------------|-------------|-------------|-------------|-------------|
    &caps_word       &none         &kp N4        &kp N5        &kp N6         &none             &none        &kp RGUI      &kp RALT     &kp RCTRL     &kp RSHFT       &none
// -------------|-------------|-------------|-------------|-------------|-------------|   |-------------|-------------|-------------|-------------|-------------|-------------|
       &none         &none        &kp N1        &kp N2        &kp N3         &none             &none         &none         &none         &none         &none         &none
// -------------|-------------|-------------|-------------|-------------|-------------|   |-------------|-------------|-------------|-------------|-------------|-------------|
                                                 &none        &kp N0         &none             &none         &none         &none                                           >;};
//                                          |-------------|-------------|-------------|   |-------------|-------------|-------------|

            symbol_layer {
                bindings = <
// -------------|-------------|-------------|-------------|-------------|-------------|   |-------------|-------------|-------------|-------------|-------------|-------------|
       &none       &kp TILDE      &kp AMPS      &kp STAR      &kp PIPE      &kp PLUS           &none         &none         &none         &none         &none         &none
// -------------|-------------|-------------|-------------|-------------|-------------|   |-------------|-------------|-------------|-------------|-------------|-------------|
       &none       &kp GRAVE      &kp DLLR     &kp PRCNT     &kp CARET     &kp MINUS           &none        &kp RGUI      &kp RALT     &kp RCTRL     &kp RSHFT       &none
// -------------|-------------|-------------|-------------|-------------|-------------|   |-------------|-------------|-------------|-------------|-------------|-------------|
       &none        &kp BSLH      &kp EXCL      &kp AT        &kp HASH     &kp UNDER           &none         &none         &none         &none         &none         &none
// -------------|-------------|-------------|-------------|-------------|-------------|   |-------------|-------------|-------------|-------------|-------------|-------------|
                                                 &none        &kp SQT       &kp DQT            &none         &none         &none                                           >;};
//                                          |-------------|-------------|-------------|   |-------------|-------------|-------------|

            javascript_layer {
                bindings = <
// -------------|-------------|-------------|-------------|-------------|-------------|   |-------------|-------------|-------------|-------------|-------------|-------------|
       &none         &none         &none         &none         &none         &none             &none         &none        &kp SEMI     &kp COLON       &none         &none
// -------------|-------------|-------------|-------------|-------------|-------------|   |-------------|-------------|-------------|-------------|-------------|-------------|
       &none       &kp LSHFT     &kp LCTRL      &kp LALT      &kp LGUI       &none             &none        &kp LPAR      &kp RPAR     &kp EQUAL       &kp GT        &none
// -------------|-------------|-------------|-------------|-------------|-------------|   |-------------|-------------|-------------|-------------|-------------|-------------|
       &none         &none         &none         &none         &none         &none             &none        &kp LBRC      &kp RBRC      &kp LBKT      &kp RBKT       &none
// -------------|-------------|-------------|-------------|-------------|-------------|   |-------------|-------------|-------------|-------------|-------------|-------------|
                                                 &none         &none         &none             &none         &none         &none                                           >;};
//                                          |-------------|-------------|-------------|   |-------------|-------------|-------------|

            function_layer {
                bindings = <
// -------------|-------------|-------------|-------------|-------------|-------------|   |-------------|-------------|-------------|-------------|-------------|-------------|
       &none         &none         &kp F7        &kp F8        &kp F9       &kp F12            &none      &bt BT_SEL 0  &bt BT_SEL 1     &none         &none     &bt BT_CLR_ALL
// -------------|-------------|-------------|-------------|-------------|-------------|   |-------------|-------------|-------------|-------------|-------------|-------------|
       &none         &none         &kp F4        &kp F5        &kp F6       &kp F11            &none        &kp RGUI      &kp RALT     &kp RCTRL     &kp RSHFT     &sys_reset
// -------------|-------------|-------------|-------------|-------------|-------------|   |-------------|-------------|-------------|-------------|-------------|-------------|
       &none         &none         &kp F1        &kp F2        &kp F3       &kp F10            &none         &none         &none         &none         &none         &none
// -------------|-------------|-------------|-------------|-------------|-------------|   |-------------|-------------|-------------|-------------|-------------|-------------|
                                                 &none         &none         &none             &none         &none         &none                                           >;};
//                                          |-------------|-------------|-------------|   |-------------|-------------|-------------|

            mouse_layer {
                bindings = <
// -------------|-------------|-------------|-------------|-------------|-------------|   |-------------|-------------|-------------|-------------|-------------|-------------|
       &none         &none         &none         &none         &none         &none             &none         &none      &mmv MOVE_UP     &none         &none         &none
// -------------|-------------|-------------|-------------|-------------|-------------|   |-------------|-------------|-------------|-------------|-------------|-------------|
       &none       &kp LSHFT     &kp LCTRL      &kp LALT      &kp LGUI       &none             &none    &mmv MOVE_LEFT &mmv MOVE_DOWN &mmv MOVE_RIGHT  &none         &none
// -------------|-------------|-------------|-------------|-------------|-------------|   |-------------|-------------|-------------|-------------|-------------|-------------|
       &none         &none         &none         &none         &none         &none             &none       &mkp LCLK     &mkp RCLK       &none         &none         &none
// -------------|-------------|-------------|-------------|-------------|-------------|   |-------------|-------------|-------------|-------------|-------------|-------------|
                                                 &none         &none         &none             &none         &none         &none                                          >;};
//                                          |-------------|-------------|-------------|   |-------------|-------------|-------------|

            media_layer {
                bindings = <
// -------------|-------------|-------------|-------------|-------------|-------------|   |-------------|-------------|-------------|-------------|-------------|-------------|
       &none         &none       &kp C_PREV     &kp C_PP    &kp C_NEXT       &none             &none         &none         &none         &none         &none         &none
// -------------|-------------|-------------|-------------|-------------|-------------|   |-------------|-------------|-------------|-------------|-------------|-------------|
       &none         &none       &kp C_MUTE   &kp C_VOL_DN  &kp C_VOL_UP     &none             &none        &kp RGUI      &kp RALT     &kp RCTRL     &kp RSHFT       &none
// -------------|-------------|-------------|-------------|-------------|-------------|   |-------------|-------------|-------------|-------------|-------------|-------------|
       &none         &none         &none     &kp C_BRI_DEC  &kp C_BRI_UP     &none             &none         &none         &none         &none         &none         &none
// -------------|-------------|-------------|-------------|-------------|-------------|   |-------------|-------------|-------------|-------------|-------------|-------------|
                                                 &none         &none         &none             &none         &none         &none                                          >;};
//                                          |-------------|-------------|-------------|   |-------------|-------------|-------------|

            editing_layer {
                bindings = <
// -------------|-------------|-------------|-------------|-------------|-------------|   |-------------|-------------|-------------|-------------|-------------|-------------|
       &none         &none         &none         &none         &none         &none             &none         &none         &none         &none         &none         &none
// -------------|-------------|-------------|-------------|-------------|-------------|   |-------------|-------------|-------------|-------------|-------------|-------------|
       &none         &none         &none         &none         &none         &none             &none        &kp RGUI      &kp RALT     &kp RCTRL     &kp RSHFT       &none
// -------------|-------------|-------------|-------------|-------------|-------------|   |-------------|-------------|-------------|-------------|-------------|-------------|
       &none     &kp LS(LG(Z))   &kp LG(Z)     &kp LG(X)     &kp LG(C)     &kp LG(V)           &none         &none         &none         &none         &none         &none
// -------------|-------------|-------------|-------------|-------------|-------------|   |-------------|-------------|-------------|-------------|-------------|-------------|
                                                 &none         &none         &none             &none         &none         &none                                          >;};
//                                          |-------------|-------------|-------------|   |-------------|-------------|-------------|

    };
};
